asgiref==3.2.7
Django==2.2.13
django-braces==1.14.0
django-countries==6.1.2
django-credit-cards==0.4.1
django-crispy-forms==1.9.0
django-model-utils==4.0.0
django-phonenumber-field==2.0.1
django-star-ratings==0.9.1
phonenumbers==8.12.1
Pillow==7.1.1
purl==1.5
python-dateutil==2.8.1
python-stdnum==1.13
pytz==2019.3
six==1.14.0
sqlparse==0.4.4
swapper==1.1.2.post1
text-unidecode==1.3
