{% extends "base.html" %}
{% block content %}
<style>
.details{
    margin-top: 80px;
}
</style>

    <div class = "details">
    {% if author.middle_name == null %}
    <p><strong>Name:</strong> {{ author.first_name }} {{ author.last_name }}</p>
        {% else %}
        <p><strong>Name:</strong> {{ author.first_name }} {{ author.middle_name}} {{ author.last_name }}</p>
        {% endif %}
    <p><strong>Date of Birth:</strong> {{ author.date_of_birth}}</p>
    <p><strong>Bio:</strong> {{ author.bio}}</p>

        <strong>Books</strong>
    {% for book in author.book_set.all %}

         <ul>
             <li>  <a href="{% url 'book-detail' book.pk %}">{{book}}</a></li>
         </ul>

    {% endfor %}
    </div>
{% endblock %}

