{% extends "base.html" %}
{% block content %}

    <style>
div.details {
  margin-top: 80px;
}
</style>
    <div class = "details">
    {% if author.middle_name == null %}
    <p><strong>Name:</strong> {{ author.first_name }} {{ author.last_name }}</p>
        {% else %}
        <p><strong>Name:</strong> {{ author.first_name }} {{ author.middle_name}} {{ author.last_name }}</p>
        {% endif %}
    <p><strong>Date of Birth:</strong> {{ author.date_of_birth}}</p>
    <p><strong>Bio:</strong> {{ author.bio}}</p>
    </div>
{% endblock %}