{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% load static %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

    <style>
    .details{
        margin-top:70px;
    }
  .toplinks{
        color: #333333;
       float:right;
       margin-right:100px;
      top: 0;
    right: 0;
    }

/* Styles the thumbnail */

a.lightbox img {
height: 150px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 94px 20px 20px 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
margin-top: 75px;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
z-index: 5;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
margin-left: 40px;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}

</style>
    <div class = "details">
    <a class="lighbox" href="#cover"><img src="/media/{{ book.book_cover.url }}" width="200" height="280"/></a>
        <div class="lightbox-target" id="cover">
            <img src="/media/{{ book.book_cover.url }}"/>
        <a class="lightbox-close" href=""></a>
        </div>
    <a class="toplinks" href="{% url 'wishlist' %}">Wishlist <i class="fa fa-heart" aria-hidden="true"></i></a>
    <a class="toplinks" href="{% url 'cart:add_cart' book.id %}">Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>

    <p><strong>Title:</strong> {{ book.book_title }}</p>
    <p><strong>Author:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
    <p><strong>Summary:</strong> {{ book.summary }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Genre:</strong> {{ book.genre}}</p>
        <p><strong>Publisher: </strong> {{book.publisher}} <strong>Located in: </strong> {{ book.publisher.location }}</p>
    </div>

    <hr>

    {% load ratings %}
    {% if owns_book %}
    {% ratings book %}
    {% else %}
    {% ratings book read_only %}
    {% endif %}

    <div class="container">
    	<div class="row">
    		<div class="col-md-12 card mb-4  mt-3 ">
    			<div class="card-body">
    				<h2> Comments</h2>
    				<!-- Show comments -->
    				{% for comment in comments %}
    				<div class="comments" style="padding: 10px;">
    					<p class="font-weight-bold">
    						{% if comment.anonymous %} Anonymous
    						{% else %} {{ comment.profile }} {% endif %}
    						<span class=" text-muted font-weight-normal">
    							{{ comment.created_on }}
    						</span>
    					</p>
    					{{ comment.body | linebreaks }}
    				</div>
    				{% endfor %}
    				<hr>
    				<!-- Post new comment -->
    				<div class="comments">
    					{% if new_comment %}
    					<div class="alert alert-success" role="alert"> Your comment has been successfully posted. </div>
    					{% else %}
                        {% if owns_book is not True %}
                        <div class="alert alert-danger" role="alert"> You cannot post a comment unless you own this book. </div>
                        {% else %}
    					<h3>Leave a comment</h3>
    					<form method="post" style="margin-top: 1.3em;">
    						{{ comment_form | crispy }}
    						{% csrf_token %}
    						<button type="submit" class="btn btn-primary btn-lg" style="background-color: #4CAF50">Post Comment</button>
    					</form>
    					{% endif %}
                        {% endif %}
    				</div>
    			</div>
    		</div>
    	</div>
{% endblock %}

