{% extends "bookstore/base.html" %}
{% block content %}

  <h1>Manage Your Wishlists</h1>

  <br>

  <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">Wishlist 1 Name</h5>
        <h6 href="#"class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">Wishlist is Currently Empty</p>
        <a href="#" class="card-link">Create New Wishlist</a>
        <a href="#" class="card-link">Add</a>
        <a href="#" class="card-link">Delete</a>
        <a href="#" class="card-link">Move to Cart</a>
      </div>
  </div>

  <br>

  <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">Wishlist 2 Name</h5>
        <h6 href="#"class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">Wishlist is Currently Empty</p>
        <a href="#" class="card-link">Create New Wishlist</a>
        <a href="#" class="card-link">Add</a>
        <a href="#" class="card-link">Delete</a>
        <a href="#" class="card-link">Move to Cart</a>
      </div>
  </div>

  <br>

  <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">Wishlist 3 Name</h5>
        <h6 href="#"class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">Wishlist is Currently Empty</p>
        <a href="#" class="card-link">Create New Wishlist</a>
        <a href="#" class="card-link">Add</a>
        <a href="#" class="card-link">Delete</a>
        <a href="#" class="card-link">Move to Cart</a>
      </div>
  </div>


{% endblock content %}
