{% extends "star_ratings/widget_base.html" %}
{% load i18n %}

<div id="{{ id }}" class="star-ratings" data-max-rating="{{ star_count }}" data-avg-rating="{{ rating.average }}">
    {% block rating_detail %}
    {% block rating_average %}
    <div class="star-ratings-rating-average">{% trans 'Average rating is ' %} <span class='star-ratings-rating-value' style="font-weight: bold">{{ rating.average|floatformat:"-2" }}</span>
    {% trans 'out of ' %} <span class='star-ratings-rating-value' style="font-weight: bold">{{ rating.count }} </span> </div>
    {% endblock rating_average %}
    {% block rating_user %}
    <div class="star-ratings-rating-user">{% trans 'Your rating: ' %} <span class='star-ratings-rating-value' style="font-weight: bold">{% if user_rating %}{{ user_rating.score }}{% else %}{% trans 'Not rated' %}{% endif %}</span></div>
    {% if not user.is_authenticated and not anonymous_ratings and not read_only %}
        <p>{% trans 'Please log in to rate.' %}</p>
    {% endif %}
    {% endblock rating_user %}
    <div class="star-ratings-errors"></div>
    {% endblock rating_detail %}
</div>