{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
    Shopping Cart page. Proceed to review items.
{% endblock %}

<div class="sidenav">
{% block title %}
    Cart - Perfect Shop
{% endblock %}

{% block content %}
    {% if not cart_items %}
        <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping cart</div>
        </div>
            <br>
                <th class="text-center">Your Shopping Cart is Empty<br></th>
            <br>
                <a href="{% url 'browse_sort' %}" class="btn btn-warning"><i class="fa fa-angle-center"></i> Add to Shopping Cart</a>&nbsp;
                <a href="" class="btn btn-secondary" style="background-color: #2196F3"><i class="fa fa-angle-center"></i> Go to Saved Items</a>
        </div>
    {% else %}
<script src="https://use.fontawesome.com/c560c025cf.js"></script>
   <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping cart</div>
   </div>
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table custom_table">
                    <thead class="custom_thread">
                        <tr>
                            <thead>
						<tr>
                            <th style="width:50%">BookID</th>
							<th style="width:50%">Book</th>
                            <th style="width:50%">Description</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
                            <th style="width:8%"></th>
						</tr>
					</thead>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in cart_items %}
                            <tr>
                                <td>
                                <div class="col-sm-10">
                                    <div class="BookID">{{ cart_item.book.id }}</div>
                                </div>
                                </td>
                                <td>
                                    <a href="cart_item.book.get_absolute_url"><img src="/media/{{ cart_item.book.book_cover.url }}" width="150" height="150" alt="" class=".float-left rounded custom_image"></a>
                                </td>
                                <td>
                                <div class="col-sm-10">
                                    <div class="text">{{ cart_item.book.book_title }}</div>
                                    <div class="book-author"><i>by</i> <a href="" data-toggle="modal" data-target="#authorModal">{{ cart_item.book.author }}</a></div>
                                    <p class="book-description">{{ cart_item.book.description }}</p>
                                    <br>
                                </div>
                                </td>
                                <td>
                                    <br>
                                    <div class="price">${{ cart_item.book.price }}</div>
                                </td>
                                <td>
                                    <br>
                                    <div class="quantity"><input type="number" class="form-control text-center" value="{{ cart_item.quantity }}"></div>

                                </td>
                                <td>
                                    <br>
                                    ${{ cart_item.sub_total }}
                                </td>
                                <td class="text-right">
                                    <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a>
                                    <a href="{% url 'cart:remove_cart' cart_item.book.id %}" class="btn btn-outline-danger"> × Remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
                <tr>
                <td class="text-right">
                    <a class="hidden-xs text-center"><strong><div class="total">Total: ${{ total }}</div></strong></a>
                    <a href="{% url 'browse_sort' %}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
                    <a href="#" class="btn btn-success">Proceed to Checkout <i class="fa fa-angle-right"></i></a>
                    <br>
                </td>
                </tr>
        <br>
        </div>
        </div>
    {% endif %}
{% endblock %}

