{% extends "base.html" %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% load bookstore_extras %}
{% block content %}
    <h1>Browse & Sort Books</h1>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            border: none;
            width: 100%;
        }

        thead{
            border-bottom: solid;
            border-top: solid;
            border-bottom-color: darkgray;
            border-top-color: darkgray;
        }

         td {
             border: none;
            text-align: left;
            padding: 8px;
         }

        th{
             border: none;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #cbd5db;
        }

        .dropbtn {
            background-color: rgb(29, 63, 85);
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: rgb(38, 91, 126);
        }


        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
    </style>

    <style>
        .filterDiv {
            float: left;
            background-color: #2196F3;
            color: #ffffff;
            width: 100px;
            line-height: 100px;
            text-align: center;
            margin: 2px;
            display: none;
        }

        .show {
            display: block;
        }

        .container {
            margin-top: 20px;
            overflow: hidden;
        }

        /* Style the buttons */
        .btn {
            border: none;
            outline: none;
            padding: 12px 16px;
            background-color: rgb(29, 63, 85);
            color: white;
            cursor: pointer;
        }

        .btn:hover {
            background-color: rgb(38, 91, 126);
        }

        .btn.active {
            background-color: blue;
            color: red;
        }

        .rating {
            position: relative;
            top: 1%;
            left: -10%;
            transform: translate(-50%, -50%) rotateY(180deg);
            display: flex;
        }

        .rating input {
            display: none;

        }

        .rating label {
            display: block;
            cursor: pointer;
            width: 30px;
        }

        .rating label:before {
            content: '\f005';
            font-family: fontAwesome;
            postion: relative;
            display: block;
            font-size: 25px;
            color: rgba(9, 9, 9, 0.31);
        }

        .rating label:after {
            content: '\f005';
            font-family: fontAwesome;
            postion: fixed;
            display: block;
            font-size: 30px;
            color: #003366;
            top: 0;
            transform: translate(0%, -100%);
            opacity: 0;
            transition: .5s;

        }

        .rating label:hover:after,
        .rating label:hover ~ label:after,
        .rating input:checked ~ label:after {
            opacity: 1;
        }


    </style>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuGenre" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Browse by Genre
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuGenre">
            {% for genre in my_genre_list %}
                <a class="dropdown-item" href="?genre_selection={{ genre.name }}">{{ genre.name }}</a>
            {% endfor %}
        </div>


        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuSort" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Sort
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuSort">
            <a class="dropdown-item" href="?order_by=book_title&direction=asc">Book Title</a>
            <a class="dropdown-item" href="?order_by=author__first_name&direction=asc">Author</a>
            <a class="dropdown-item" href="?order_by=price&direction=asc">Price (low-high)</a>
            <a class="dropdown-item" href="?order_by=price&direction=price">Price (high-low)</a>
            <a class="dropdown-item" href="?order_by=rating&direction=asc">Rating (low-high)</a>
            <a class="dropdown-item" href="?order_by=rating&direction=rating">Rating (high-low)</a>
            <a class="dropdown-item" href="?order_by=release_date&direction=date">Date (new)</a>
        </div>

        <button type="button" class="btn btn-primary"
                onclick="window.location.href = '?top_sellers_button={{ True }}';">Top Sellers</button>
        <button type="button" class="btn btn-primary"
                onclick="window.location.href = '??top_sellers_button={{ True }}&order_by=book_title&direction=asc';">Show All</button>
    </div>
 <br> <br>
    <div style="position: absolute; left: 15px; top: 115px;"><strong>Filter by Rating:</strong></div>
    <div class="rating" style="position: absolute; left: 210px; top: 155px;">
        <input type="radio" name="star" id="star1"
               onclick="window.location.href = '?ratings_filter_selection=5.0&ratings_filter_selection2=6.0';"><label
            for="star1"></label>
        <input type="radio" name="star" id="star2"
               onclick="window.location.href = '?ratings_filter_selection=4.0&ratings_filter_selection2=5.0';"><label
            for="star2"></label>
        <input type="radio" name="star" id="star3"
               onclick="window.location.href = '?ratings_filter_selection=3.0&ratings_filter_selection2=4.0';"><label
            for="star3"></label>
        <input type="radio" name="star" id="star4"
               onclick="window.location.href = '?ratings_filter_selection=2.0&ratings_filter_selection2=3.0';"><label
            for="star4"></label>
        <input type="radio" name="star" id="star5"
               onclick="window.location.href = '?ratings_filter_selection=1.0&ratings_filter_selection2=2.0';"><label
            for="star5"></label>
    </div><br>

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        var ts;

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function myFunction2() {
            document.getElementById("myDropdown2").classList.toggle("show");
        }

        function wishlistFunction(event, element, id) {
            document.getElementById("wishlistDropdown" + id).classList.toggle("show");
        }

        // function wishlistFunction(event, element, id) {
        //   // console.log(element.closest('.wishlist-dropdown'));
        //   // console.log($(element).closest('div').next().find('.wishlist-dropdown').classList);
        //   $(element).parents('div').find('.wishlist-dropdown').toggleClass("show");

        //   // $(element).closest('div').next().find('.wishlist-dropdown').toggleClass("show");

        //   // element.closest( ".wishlist-dropdown" ).toggleClass( "show" );
        //   // $(".wishlist-dropdown").classList.toggle("show");
        // }
        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    {% if top_sellers_filter %}
        <table>
            {% if books %}
                <thead>
                <tr>

                    <th style="text-align:center">Cover</th>
                    <th style="text-align:center">Title</th>
                    <th style="text-align:center">Author</th>
                    <th style="text-align:center">Rating</th>
                    <th style="text-align:center">Price</th>
                    <th style="text-align:center">Actions</th>

                </tr> </thead>
                {% for book in books %}
                    <tr class="clickable text-center">
                    <td><img src="/media/{{ book.book_cover.url }}"
                             onclick="window.location='{{ book.get_absolute_url }}'" width="200" height="280"/></td>
                    <td onclick="window.location='{{ book.get_absolute_url }}'">{{ book.book_title }}</td>
                    <td onclick="window.location='{{ book.get_absolute_url }}'">{{ book.author }}</td>
                    <td onclick="window.location='{{ book.get_absolute_url }}'">{{ book.rating }}/5⭐</td>
                    <td onclick="window.location='{{ book.get_absolute_url }}'">${{ book.price }}</td>

                    <td>
                        <a class="btn btn-success" style="background-color: #428bca; display: flex; align-items: center;justify-content: center"
                           href="{% url 'cart:add_cart' book.id %}">Add to Cart</a>
                        <div class="dropdown">
                            <button onclick="wishlistFunction(event,this, {{ book.id }} )"
                                    class="btn btn-danger wishlist-dropbtn dropbtn" style="background-color: orangered; display: flex; align-items: center;justify-content: center">
                                Add to Wishlist
                            </button>
                            <div id="wishlistDropdown{{ book.id }}" class="dropdown-content wishlist-dropdown">
                                <!-- {% for wishlist in wishlists %} -->
                                    <!-- {% get_wishlist_books wishlist.id as books %} -->
                                    <!-- {% if books.count >= 2 %} -->
                                        <!-- <a href="?wishlist_selection={{ wishlist.id }}&book_id={{ book.id }}" class="isDisabled" title="Wishlist can Maximum contain 3 Books" >{{ wishlist.wishlist_name }}<span class="badge badge-danger">3 Books Allowed</span></a> -->
                                        <!-- {% else %} -->
                                        <a href="?wishlist_selection={{ wishlist.id }}&book_id={{ book.id }}">{{ wishlist.wishlist_name }}</a>
                                        <!-- {% endif %} -->
                                    <!-- {% endfor %} -->
                            </div>
                        </div>
                    </td>
                {% endfor %}
            </tr>
                </table>
                {% if r %}
                    {% if books.has_other_pages %}
                        <ul class="pagination">
                            {% if books.has_previous %}
                                <li>
                                    <a href="?page={{ books.previous_page_number }}&genre_selection={{ genre_selection }}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in books.paginator.page_range %}
                                {% if books.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}&genre_selection={{ genre_selection }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if books.has_next %}
                                <li><a href="?page={{ books.next_page_number }}&genre_selection={{ genre_selection }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% elif s %}
                    {% if books.has_other_pages %}
                        <ul class="pagination">
                            {% if books.has_previous %}
                                <li>
                                    <a href="?page={{ books.previous_page_number }}&ratings_filter_selection={{ ratings_filter_selection }}&ratings_filter_selection2={{ ratings_filter_selection2 }}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in books.paginator.page_range %}
                                {% if books.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li>
                                        <a href="?page={{ i }}&ratings_filter_selection={{ ratings_filter_selection }}&ratings_filter_selection2={{ ratings_filter_selection2 }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if books.has_next %}
                                <li>
                                    <a href="?page={{ books.next_page_number }}&ratings_filter_selection={{ ratings_filter_selection }}&ratings_filter_selection2={{ ratings_filter_selection2 }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% elif p %}
                    {% if books.has_other_pages %}
                        <ul class="pagination">
                            {% if books.has_previous %}
                                <li><a href="?page={{ books.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in books.paginator.page_range %}
                                {% if books.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if books.has_next %}
                                <li><a href="?page={{ books.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% else %}
                    {% if books.has_other_pages %}
                        <ul class="pagination">
                            {% if books.has_previous %}
                                <li>
                                    <a href="?page={{ books.previous_page_number }}&order_by={{ order_by }}&direction={{ direction }}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in books.paginator.page_range %}
                                {% if books.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li>
                                        <a href="?page={{ i }}&order_by={{ order_by }}&direction={{ direction }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if books.has_next %}
                                <li>
                                    <a href="?page={{ books.next_page_number }}&order_by={{ order_by }}&direction={{ direction }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endif %}
            {% else %}
                <p>There are no books in the library.</p>
            {% endif %}

    {% else %}
        <table>
            {% if books %}
                <tr>
                    <th style="text-align:center">Cover</th>
                    <th style="text-align:center">Title</th>
                    <th style="text-align:center">Author</th>
                    <th style="text-align:center">Rating</th>
                    <th style="text-align:center">Price</th>
                </tr>
                {% for book in my_book_list2 %}
                    <tr class="clickable text-center">
                    <td><img src="/media/{{ book.book_cover.url }}"
                             onclick="window.location='{{ book.get_absolute_url }}'" width="200" height="280"/></td>
                    <td onclick="window.location='{{ book.get_absolute_url }}'">{{ book.book_title }}</td>
                    <td onclick="window.location='{{ book.get_absolute_url }}'">{{ book.author }}</td>
                    <td onclick="window.location='{{ book.get_absolute_url }}'">{{ book.rating }}/5⭐</td>
                    <td onclick="window.location='{{ book.get_absolute_url }}'">${{ book.price }}</td>
                    <td>
                        <a class="btn btn-success" style="background-color: #428bca"
                           href="{% url 'cart:add_cart' book.id %}">Add to Cart</a>
                        <div class="dropdown">
                            <button onclick="wishlistFunction(event,this, {{ book.id }} )"
                                    class="btn btn-danger wishlist-dropbtn dropbtn" style="background-color: orangered">
                                Add to Wishlist
                            </button>
                            <div id="wishlistDropdown{{ book.id }}" class="dropdown-content wishlist-dropdown">
                                <!-- {% for wishlist in wishlists %} -->
                                    <!-- {% get_wishlist_books wishlist.id as books %} -->
                                    <!-- {% if books.count >= 2 %} -->
                                        <!-- <a href="?wishlist_selection={{ wishlist.id }}&book_id={{ book.id }}" class="isDisabled" title="Wishlist can Maximum contain 3 Books" >{{ wishlist.wishlist_name }}<span class="badge badge-danger">3 Books Allowed</span></a> -->
                                        <!-- {% else %} -->
                                        <a href="?wishlist_selection={{ wishlist.id }}&book_id={{ book.id }}">{{ wishlist.wishlist_name }}</a>
                                        <!-- {% endif %} -->
                                    <!-- {% endfor %} -->
                            </div>
                        </div>
                    </td>
                {% endfor %}
            </tr>
                </table>
                {% if p %}
                    {% if book.has_other_pages %}
                        <ul class="pagination">
                            {% if books.has_previous %}
                                <li><a href="?page={{ book.previous_page_number }}">&laquo; </a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in book.paginator.page_range %}
                                {% if book.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if book.has_next %}
                                <li><a href="?page={{ book.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% else %}
                    {% if book.has_other_pages %}
                        <ul class="pagination">
                            {% if book.has_previous %}
                                <li>
                                    <a href="?page={{ books.previous_page_number }}&order_by={{ order_by }}&direction={{ direction }}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span>&laquo; </span></li>
                            {% endif %}
                            {% for i in books.paginator.page_range %}
                                {% if books.number == i %}
                                    <li class="active"><span> {{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li>
                                        <a href="?page={{ i }}&order_by={{ order_by }}&direction={{ direction }}">{{ i }} </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if books.has_next %}
                                <li>
                                    <a href="?page={{ books.next_page_number }}&order_by={{ order_by }}&direction={{ direction }}"> &raquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span> &raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endif %}
            {% else %}
                <p>There are no books in the library.</p>
            {% endif %}
    {% endif %}
<!-- End -->
<br/>
<br/>
{% endblock content %}
