{% extends "base.html" %}
{% block content %}

    <style>
    .reviews{
        margin-right: 100px;
        margin-top: 20px;
    }
    </style>
    <h2>All Comments :</h2>
    {% for c in comments %}
        <article class="reviews">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ c.profile }}</a>
              <small class="text-muted">{{ c.created_on }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ c.book }}</a></h2>
            <p class="article-content">{{ c.body }}</p>
          </div>
        </article>
    {% endfor %}

{% endblock content %}
