{% extends "base.html" %}
{% block content %}

  <h1>Manage Your Wishlists</h1>

  <br>

<script src="https://use.fontawesome.com/c560c025cf.js"></script>

  <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">Wishlist 1 Name</h5>
        <h6 href="#"class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">Wishlist is Currently Empty</p>
        <a href="#" class="btn btn-warning"><i class="fa fa-angle-center"></i>Edit Wishlist Name</a>
        <a href="{% url 'browse_sort' %}" class="btn btn-warning"><i class="fa fa-angle-center"></i>Add Book</a>
        <a href="#" class="btn btn-secondary" style="background-color: #F3212D"><i class="fa fa-angle-center"></i>Delete</a>
        <a href="#" class="btn btn-secondary" style="background-color: #2196F3"><i class="fa fa-angle-center"></i> Move to Cart</a>
      </div>
  </div>

  <br>

  <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">Wishlist 2 Name</h5>
        <h6 href="#"class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">Wishlist is Currently Empty</p>
        <a href="#" class="btn btn-warning"><i class="fa fa-angle-center"></i>Edit Wishlist Name</a>
        <a href="{% url 'browse_sort' %}" class="btn btn-warning"><i class="fa fa-angle-center"></i>Add Book</a>
        <a href="#" class="btn btn-secondary" style="background-color: #F3212D"><i class="fa fa-angle-center"></i>Delete</a>
        <a href="#" class="btn btn-secondary" style="background-color: #2196F3"><i class="fa fa-angle-center"></i> Move to Cart</a>
      </div>
  </div>

  <br>

  <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">Wishlist 3 Name</h5>
        <h6 href="#"class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">Wishlist is Currently Empty</p>
        <a href="#" class="btn btn-warning"><i class="fa fa-angle-center"></i>Edit Wishlist Name</a>
        <a href="{% url 'browse_sort' %}" class="btn btn-warning"><i class="fa fa-angle-center"></i>Add Book</a>
        <a href="#" class="btn btn-secondary" style="background-color: #F3212D"><i class="fa fa-angle-center"></i>Delete</a>
        <a href="#" class="btn btn-secondary" style="background-color: #2196F3"><i class="fa fa-angle-center"></i> Move to Cart</a>
      </div>
  </div>

{% endblock content %}
